<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{admin/header :: header}"></div>
  <body>
    <div th:replace="~{admin/header :: navbar}"></div>
      <br/><br/>
      <div class="container">
        <div class="row col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header">
              <h2 class="text-center">Create Post</h2>
            </div>
            <div class="card-body">
              <form role="form" method="post" th:action="@{/admin/posts}" th:object="${post}">
                <div class="mb-3">
                  <label class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title"
                         th:field="*{title}" placeholder="Enter post title" />
                  <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}">
                    Errors
                  </p>
                </div>
                <div class="mb-3">
                  <label class="form-label">Short Description</label>
                  <textarea  class="form-control" id="shortDescription" name="shortDescription"
                             th:field="*{shortDescription}"
                             placeholder="Enter post short description">
                  </textarea>
                  <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger"
                     th:errors="*{shortDescription}">
                    Errors
                  </p>
                </div>
                <div class="mb-3">
                  <label class="form-label">Content</label>
                  <textarea class="form-control" id="content" name="content" th:field="*{content}"
                            placeholder="Enter post content">
                  </textarea>
                  <p th:if="${#fields.hasErrors('content')}" class="text-danger"
                     th:errors="*{content}">
                    Errors
                  </p>
                </div>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <br/><br/>
    <div th:replace="~{admin/footer :: footer}"></div>
  </body>
</html>