<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/header :: header}"></div>
<body>
<div th:replace="~{admin/header :: navbar}"></div>
  <br/>
  <div class="container">
    <div class="row">
      <h1>List Blog Posts</h1>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <th style="width:10%">#</th>
        <th style="width:20%">Post Title</th>
        <th style="width:30%">Post Short Description</th>
        <th style="width:20%">Post Created On</th>
        <th style="width:20%">Actions</th>
      </thead>
      <tbody>
        <tr th:each="post, postStat : ${posts}">
          <td th:text="${postStat.count}">1</td>
          <td th:text="${post.title}">Post Title 1</td>
          <td th:text="${post.shortDescription}">Post Desc 1</td>
          <td th:text="${post.createdOn}">01/01/2001</td>
          <td>
            <a class="btn btn-primary"
               th:href="@{${@postController.ADMIN_POST_EDIT}(postId=${post.id})}">
              Edit
            </a>
            <a class="btn btn-danger"
               th:href="@{${@postController.ADMIN_POST_DELETE}(postId=${post.id})}">
              Delete
            </a>
            <a class="btn btn-info"
               th:href="@{${@postController.ADMIN_VIEW_POST}(postUrl=${post.url})}">
              View
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<br/>
<div th:replace="~{admin/footer :: footer}"></div>
</body>
</html>